MonSuperProjet/ClientProjet/xml-resources/web-service-references/WebServicemeteoService/wsdl/localhost_11714/WebProjet/WebServicemeteoService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://meteo/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://meteo/">

<xs:element name="getmeteo" type="tns:getmeteo"></xs:element>

<xs:element name="getmeteoResponse" type="tns:getmeteoResponse"></xs:element>

<xs:complexType name="getmeteo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getmeteoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>